/vendor
.env
/storage/*.key
/storage/framework/*
!/storage/framework/views
!/storage/framework/views/.gitignore
!/storage/framework/sessions
!/storage/framework/sessions/.gitignore
!/storage/framework/cache
!/storage/framework/cache/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
database/*.sqlite
/node_modules
